<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>Id num:</strong>
  <%= @application.id_num %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @application.dept %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @application.degree %>
</p>

<p>
  <strong>Position:</strong>
  <%= @application.position %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
