<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="container">
		<div class="form-group row">
			<label for="example-text-input" class="col-2 col-form-label">단체명</label>
			<div class="col-10">
				<%= f.text_field :club, class: 'form-control' %>
			</div>
		</div>
		<div class="form-group row">
			<label for="exampleInputFile" class="col-2 col-form-label">동아리 로고</label>
			<div class="col-10">
				<%= f.file_field :logo_img, class:'form-control-file' %>
			</div>
		</div>
		<div class="form-group row">
			<label for="example-datetime-local-input" class="col-2 col-form-label">모집 기한</label>
			<div class="col-10">
				<% if post.deadline %>
				<input class="form-control" type="datetime-local" value="<%= post.deadline.strftime("%Y-%m-%dT%H:%M:%S") %>" id="example-datetime-local-input" name="post[deadline]">
				<% else %>
				<input class="form-control" type="datetime-local" id="example-datetime-local-input" name="post[deadline]">
				<% end %>
			</div>
		</div>

		<div class="form-group row">
			<label for="example-datetime-local-input" class="col-2 col-form-label">모집 대상</label>
			<div class="col-10">
				<%= f.text_field :target, class: 'form-control', placeholder:"학부생, 대학원생, 타대생" %>
			</div>
		</div>
		<div class="form-group row">
			<label for="example-datetime-local-input" class="col-2 col-form-label">모집 부문</label>
			<div class="col-10">
				<%= f.text_field :recruit_type, class: 'form-control', placeholder:"연출팀, 기획팀 등등" %>
			</div>
		</div>
		<div class="form-group row">
			<label for="example-email-input" class="col-2 col-form-label">홈페이지 주소</label>
			<div class="col-10">
				<%= f.text_field :homepage, class:'form-control' %>
			</div>
		</div>
		<div class="form-group row">
			<label for="example-email-input" class="col-2 col-form-label">기타사항</label>
			<div class="col-10">
				<%= f.text_field :etc, class:'form-control' %>
			</div>
		</div>
		<div class="form-group row">
			<label for="exampleTextarea" class="col-2 col-form-label">모집 안내</label>
			<div class="col-10">
				<%= f.text_area :description, class:'form-control', rows:"8" %>
			</div>
		</div>
		<div class="form-group row">
			<label for="exampleInputFile" class="col-2 col-form-label">파일 첨부</label>
			<div class="col-10">
				<%= f.file_field :attachment, class:'form-control-file' %>
			</div>
		</div>
		<input id="q_val" type="hidden" name="post[questions]" value="">
		<div id="q_wrapper">
			<% if post.questions %>
				<% JSON.parse(post.questions).each_with_index do |q, index| %>
			<div class="form-group row">
				<label for="example-text-input" class="col-2 col-form-label">질문 <%= index+1 %></label>
				<div class="col-10">
					<input class="form-control" type="text" value="<%= q %>" id="example-text-input" name="">
				</div>
			</div>
			<% end %>
			<% else %>
			<div class="form-group row">
				<label for="example-text-input" class="col-2 col-form-label">질문 1</label>
				<div class="col-10">
					<input class="form-control" type="text" value="동아리에 지원하게 된 계기가 무엇입니까?" id="example-text-input">
				</div>
			</div>
			<div class="form-group row">
				<label for="example-text-input" class="col-2 col-form-label">질문 2</label>
				<div class="col-10">
					<input class="form-control" type="text" value="동아리에서 하고 싶은 역할은?" id="example-text-input">
				</div>
			</div>
			<% end %>
		</div>
		<div class="row">
      	<input type="button" id="btn_add" class="btn btn-info" value="질문 추가">
		</div>

		<div class="row text-center">
			<div class="col-sm-12">
			<button type="button" id="submit_btn" class="btn btn-lg btn-primary">새 리크루팅 작성</button>
			</div>
		</div>
	</div>
<% end %>
<script>
	$(document).ready(function() { 
		$("#btn_add").click(function(e) {
			var q_cnt = $("#q_wrapper").children().length + 1;
			$("#q_wrapper").append('<div class="form-group row"><label for="example-text-input" class="col-2 col-form-label">질문 '+q_cnt+'</label><div class="col-10"><input class="form-control" type="text"value=""id="example-text-input"></div>');

		});

		$("#submit_btn").click(function(e) {
			e.preventDefault();
			var q = [];
			$("#q_wrapper").children().each(function(i, item) {
				var v = $(item).find("input").val();
				if(v) q.push(v);
			});
			var q_str = JSON.stringify(q);
			$("#q_val").val(q_str);			
			$(this).parents('form').submit();
		});
 });
</script>
