<div class="container header">
	<div class="alert alert-info">
		<strong class="font_30"><%= @post.club %> 신입부원 모집공고</strong>
	</div>
</div>
<div class="container">
	<div class="row club_intro">
		<%= image_tag @post.logo_img.to_s, class:'logo_img float-left' %>
		<p>
			<%= @post.description %>
		</p>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<strong>모집부문</strong>
		</div>
		<div class="col-sm-">
			<%= @post.target %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<strong> 모집기간 </strong>
		</div>
		<div class="col-sm-10">
			<%= @post.deadline.strftime("%Y-%m-%d %H시 까지") %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<strong> 기타 사항 </strong>
		</div>
		<div class="col-sm-10">
			<%= @post.etc %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<strong> 홈페이지 주소 </strong>
		</div>
		<div class="col-sm-10">
			<a href="<%= @post.homepage %>" target="_blank"><%= @post.club %> 홈페이지</a>
		</div>
	</div>
	<div class="row attach_wrapper">
	<%= image_tag @post.attachment.to_s %>
	</div>
	<br>
	<br>
	<% if @post.user_id == session[:user_id] %>
	<div class="container">
		<div class="alert alert-success" role="alert">
			<strong class="font_30">렛미스타트 13기 지원서</strong>
		</div>
		<div id="accordion" role="tablist" aria-multiselectable="true">
			<% @resumes.each do |resume| %>
			<div class="card">
				<div class="card-header" role="tab" id="headingOne">
					<h5 class="mb-0">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<%= resume.name %>
						</a>
					</h5>
				</div>

				<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
					<div class="card-block">
						<dl class="dl-horizontal">
							<dt>이름</dt><dd><%= resume.name %></dd>
							<dt>학과</dt><dd><%= resume.dept %></dd>
							<dt>학번</dt><dd><%= resume.id_num %></dd>
							<dt>소속</dt><dd><%= resume.degree %></dd>
							<dt>지원부문</dt><dd><%= resume.position %></dd>
							<% resume.answers.each do |qa| %>
							<dt><%= qa.q %></dt>
							<dd><%= qa.a %></dd>
							<% end %>
						</dl>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-12">
			<a href="/posts/<%=@post.id%>/edit"><button type="button" class="btn btn-lg btn-primary">수정하기</button></a>
		</div>
	</div>
	<% else %>
	<div class="row text-center">
		<div class="col-sm-12">
		<a href="/resumes/new">
		<input type="button" id="btn_apply" class="btn btn-lg btn-primary" value="지원하기">
		</a>
		</div>
	</div>
	<% end %>
</div>
